<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/material")
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Goody Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">People<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Basic CRUD", "Index", "Person")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Basic Upload", "Index", "File")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" ng-app="goodyApp">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*jQuery, Bootstrap and Angular*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @*Angular AddOns*@
    @Scripts.Render("~/bundles/angular-animate")
    @Scripts.Render("~/bundles/angular-aria")
    @Scripts.Render("~/bundles/angular-cookies")
    @Scripts.Render("~/bundles/angular-loader")
    @Scripts.Render("~/bundles/angular-message-format")
    @Scripts.Render("~/bundles/angular-messages")
    @Scripts.Render("~/bundles/angular-parse-ext")
    @Scripts.Render("~/bundles/angular-resource")
    @Scripts.Render("~/bundles/angular-route")
    @Scripts.Render("~/bundles/angular-sanitize")
    @Scripts.Render("~/bundles/angular-touch")
    @Scripts.Render("~/bundles/angular-fileupload")

    @*Angular Material UI*@
    @Scripts.Render("~/bundles/material")

    @*Application specific*@
    @Scripts.Render("~/bundles/goodyapp")
    @RenderSection("scripts", required: false)
</body>
</html>
